* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-image {
  background-color: #000;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}
button {
  margin-top: 25px;
  border-radius: 10px;
  background-color: #FF2D95;
  width: 150px;
  height: 30px;
  margin-left: 14px;
  color: #fff;
  border: none;
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  color: #FFFFFF;
  
}
input {
  border-radius: 10px;
  border: 1px solid #FF2D95;
  width: 150px;
  height: 30px;
  margin-left: 14px;
  background-color: #fff;
  margin-top: 10px;
  padding-left: 15px;
  
}

::placeholder {
  color: #000;
  opacity: 0.6;
}

h1 {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  color: #FFFFFF;
  font-size: 50px;
  }

p {
  color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
color: #FFFFFF;
font-size: 20px;
margin-top: 40px;
}


button:hover {
  opacity: 0.6;
}
.bi-dice-6 {
  font-size: 80px;
  color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
color: #FFFFFF;
}