* {
    
    margin: 0;
    padding: 0
    
}
.container-xl {
    max-width: 1140px;
}

main {
    height: 100%;
    width: max;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
 
}


i {
    color: red;
    font-size: 100px;
   
}